.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn1 {
  padding: 14px;
  font-size: 16px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropbtn .dropbtn1 {
  padding: 14px;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #2874f0;
}
.container-fluid {
  background-color: #d3d3d3;
}
button,
select {
  text-transform: none;
}
button,
input {
  overflow: visible;
}
.question {
  border-radius: 50%;
  background-color: #fff;
  color: #878787;
  font-weight: 500;
  width: 16px;
  height: 16px;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  display: inline-block;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  margin: 0 2px 0 8px;
  cursor: pointer;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.pagecss {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  line-height: 32px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #2874f0;
  color: #fff;
  text-align: center;
  font-weight: 500;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
#cartcss {
  position: absolute;
  left: 11px;
  top: 1px;
  text-align: center;
  border-radius: 8px;
  width: 18px;
  height: 18px;
  background-color: #ff6161;
  border: 1px solid #fff;
  font-weight: 400;
  color: #f0f0f0;
  line-height: 16px;
  font-size: 10px;
}
#rect {
  height: 5px;
  width: 100px;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  color: #000;
  font-size: 14px;
  margin-left: 2px;
  margin-right: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  font-weight: 400;
  border-radius: 3px;
}
.btn.disabled {
  opacity: 0.65;
}
button,
input {
  overflow: visible;
}
.btn {
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
  height: 32px;
  margin-top: 5px;
  padding: 5px 40px;
  border: 1px solid #dbdbdb;
}
.btn,
.btn :hover {
  color: #2874f0;
}
