.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}
.fa-2x {
  font-size: 2em;
}

.fa {
  font-weight: 900;
}
.fa,
.far {
  font-family: "Font Awesome 5 Free";
}
.fa-inverse {
  color: #fff;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.selectedBtn {
  background-color: #1a53ff;
  color: #fff;
}
.btn-outline-primary {
  color: #0073e6;
  background-color: transparent;
  background-image: none;
  border-color: #0073e6;
}
#box1 {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 36%);
}
#rect {
  height: 15px;
  width: 5px;
  font-size: 0.78571rem;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #d3d3d3;
}
#rect1 {
  height: 15px;
  width: 5px;
  font-size: 0.78571rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffd302;
  border: 1px solid #d3d3d3;
}
.expand {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  color: #666;
  font-size: 0.92857rem;
}
#book {
  font-size: 1rem;
  border-radius: 4px;
  font-family: Rubik-Medium;
  background-color: #fff;
  border: 2px solid #f34f4f;
  color: #f34f4f;
  cursor: pointer;
}
#box2 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 2.143rem 3.214rem;
}
#rs1 {
  background-color: #d3d3d3;
  font-size: 10px;
  border-radius: 6px;
}
#fs12 {
  font-size: 1rem;
  color: #333;
  font-family: Rubik-Regular, "Arial, Helvetica, sans-serif";
}

#fs20 {
  font-size: 0.847rem;
  color: #333;
  font-family: Rubik-Medium;
  padding: 0;
}
#fs13 {
  font-size: 1.714rem;
  color: #333;
  font-family: Rubik-Medium;
}
#fs11 {
  font-size: 0.8571rem;
  color: #666;
  font-family: Rubik-Regular, "Arial, Helvetica, sans-serif";
}
#ic1 {
  font-size: 16px;
  color: #d3d3d3;
}

#abc {
  font-size: 1.14286rem;
  font-family: Rubik-Medium;
}

#abc10 {
  font-size: 0.71429rem;
  font-family: Rubik-Medium;
}
#fs14 {
  font-size: 1rem;
  color: #333;
  font-family: Rubik-Medium;
}
#fs10 {
  font-size: 1.429rem;
  font-family: Rubik-Medium;
}
#box3 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 1.143rem 1.214rem;
  margin-left: 1.8px;
}
#box4 {
  color: #666;
  background: #f5f5f5;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  font-size: 1.714rem;
  margin-left: 1.8px;
}
#promobox {
  display: inline-block;
  margin-bottom: 0.5rem;
  border: 1px dashed #02cb66;
  padding: 3px 10px;
  color: #02cb66;
  font-size: 12px;
  font-family: Rubik-Medium;
}
#payment {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
}
#flight {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding-top: 1.143rem;
  padding-bottom: 1.143rem;
}
#fs18 {
  font-size: 0.847rem;
  color: #333;
  font-family: Rubik-Medium;
  padding: 0;
}
#detail {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding-top: 1.143rem;
  padding-bottom: 1.143rem;
}

#fs16 {
  font-size: 0.7857rem;
  color: #333;
  font-family: Rubik-Regular, "Arial, Helvetica, sans-serif";
}
#fs17 {
  border: 1px solid #d3d3d3;

  box-shadow: 0 0 6px 0 rgb(0 0 0 / 36%);
}
#img1 {
  width: 28px;
  height: 28px;
  border-radius: 6px;
}
#fs9 {
  font-size: 1.07143rem;
  font-family: Rubik-Regular;
  font-weight: 400;
}
#fs8 {
  font-size: 10px;
  font-family: Rubik-Regular;
}
