.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em;
}
.fa-2x {
  font-size: 2em;
}

.fa {
  font-weight: 900;
}
.fa,
.far {
  font-family: "Font Awesome 5 Free";
}
.fa-inverse {
  color: #fff;
}
.fa-stack-1x {
  line-height: inherit;
}
.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.selectedBtn {
  background-color: #1a53ff;
  color: #fff;
}
.btn-outline-primary {
  color: #0073e6;
  background-color: transparent;
  background-image: none;
  border-color: #0073e6;
}
#box1 {
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 36%);
}
#rect {
  height: 15px;
  width: 5px;
  font-size: 0.78571rem;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #d3d3d3;
}
#rect1 {
  height: 15px;
  width: 5px;
  font-size: 0.78571rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffd302;
  border: 1px solid #d3d3d3;
}
.expand {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  color: #666;
  font-size: 0.92857rem;
}
#book {
  font-size: 1rem;
  border-radius: 4px;
  font-family: Rubik-Medium;
  background-color: #fff;
  border: 2px solid #f34f4f;
  color: #f34f4f;
  cursor: pointer;
}
#box2 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 2.143rem 3.214rem;
}
#rs1 {
  background-color: #d3d3d3;
  font-size: 10px;
  border-radius: 6px;
}
#fs12 {
  font-size: 1rem;
  color: #333;
  font-family: Rubik-Regular, "Arial, Helvetica, sans-serif";
}

#fs20 {
  font-size: 0.847rem;
  color: #333;
  font-family: Rubik-Medium;
  padding: 0;
}
#fs13 {
  font-size: 1.714rem;
  color: #333;
  font-family: Rubik-Medium;
}
#fs12 {
  font-size: 1.25rem;
  color: #333;
  font-family: Rubik-Medium;
}
#sh1 {
  color: #f34f4f;
  font-family: Rubik-Medium;
}
#fs11 {
  font-size: 0.8571rem;
  color: #666;
  font-family: Rubik-Regular, "Arial, Helvetica, sans-serif";
}
#ic1 {
  font-size: 16px;
  color: #d3d3d3;
}

#abc {
  font-size: 1.14286rem;
  font-family: Rubik-Medium;
}

#abc10 {
  font-size: 0.71429rem;
  font-family: Rubik-Medium;
}
#fs14 {
  font-size: 1rem;
  color: #333;
  font-family: Rubik-Medium;
}
#fs10 {
  font-size: 1.429rem;
  font-family: Rubik-Medium;
}
#box3 {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding: 1.143rem 1.214rem;
  margin-left: 1.8px;
}
#box4 {
  color: #666;
  background: #f5f5f5;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  font-size: 1.714rem;
  margin-left: 1.8px;
}
#promobox {
  display: inline-block;
  margin-bottom: 0.5rem;
  border: 1px dashed #02cb66;
  padding: 3px 10px;
  color: #02cb66;
  font-size: 12px;
  font-family: Rubik-Medium;
}
#payment {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
}
#flight {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding-top: 1.143rem;
  padding-bottom: 1.143rem;
}
#fs18 {
  font-size: 0.847rem;
  color: #333;
  font-family: Rubik-Medium;
  padding: 0;
}
#detail {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 #c8c8c8;
  padding-top: 1.143rem;
  padding-bottom: 1.143rem;
}

#fs16 {
  font-size: 0.7857rem;
  color: #333;
  font-family: Rubik-Regular, "Arial, Helvetica, sans-serif";
}
#fs17 {
  border: 1px solid #d3d3d3;

  box-shadow: 0 0 6px 0 rgb(0 0 0 / 36%);
}
#img1 {
  width: 28px;
  height: 28px;
  border-radius: 6px;
}
#fs9 {
  font-size: 1.07143rem;
  font-family: Rubik-Regular;
  font-weight: 400;
}
#fs8 {
  font-size: 10px;
  font-family: Rubik-Regular;
}
#sh2 {
  font-size: 1rem;
  color: #333;
  font-family: Rubik-Regular, "Arial, Helvetica, sans-serif";
}
#left {
  position: right;
}
#sh4 {
  font-size: 0.847rem;
  color: #333;
  font-family: Rubik-Medium;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
.input-wrapper {
  display: inline-block;
  position: relative;
}
.itinerary .disp-table-cell .text-truncate {
  max-width: 460px;
  display: inline-block;
  vertical-align: top;
}
.img-grad {
  left: 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: absolute;
  color: #fff;
  bottom: 0px;
  font-size: 14px;
  padding: 2px 6px 4px 6px;
  background: -webkit-linear-gradient(bottom, #000, transparent);
  background: -o-linear-gradient(top, #000, transparent);
  background: -moz-linear-gradient(top, #000, transparent);
  background: linear-gradient(to top, #000000, rgba(0, 0, 0, 0));
  border-radius: 4px;
}
.cal-block {
  width: 120px;
  height: 113px;
  border-radius: 2.8px;
  border: 1px solid #f1f1f1;
  background-color: #f1f1f1;
  text-align: center;
  position: relative;
  margin-right: 8px;
  padding: 10px;
  color: #666;
  display: inline-block;
}
.cal-block .cb-top {
  padding: 10px;
}
.cal-block .cb-top .checkin-text {
  position: relative;
  bottom: 2px;
}
.cal-block .cb-top .bkg-date {
  font-size: 30px;
  font-weight: 500;
  color: #333;
  display: block;
}

strong,
.bold {
  font-family: "Rubik-Medium";
  font-weight: normal;
}

.cal-block .cb-footer {
  background-color: #fff;
  font-size: 0.8571rem;
  line-height: 1.39;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 0;
}

.trav-labl {
  text-align: right;
  padding-right: 10px !important;
  top: 8px;
  font-family: "Rubik-Medium";
}
