.dropbtn .dropbtn1 {
  padding: 14px;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 140px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #2874f0;
}

.circle {
  width: 70px;
  height: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  background: 0 0;
  padding: 2px 8px;
  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 5px;
  text-transform: uppercase;
  display: inline-block;
}

.bg-light {
  background-color: #f8f9fa !important;
}
#buttoncss-true {
  background-color: #00fa9a;
}
#timingcss-true {
  background-color: #004d00;
}
.btn-light:hover {
  color: #212529;
  background-color: white;
  border-color: #dae0e5;
}
