.img-grad {
  right: 0;
  display: inline-block;
  width: 100%;
  text-align: left;
  position: absolute;
  color: #fff;
  font-size: 14px;
  padding: 2px 6px 4px 6px;

  border-radius: 4px;
}

#earth {
  background: transparent;
  border-radius: 50px;
}
