.dropbtn .dropbtn1 {
  padding: 14px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 170px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #2874f0;
}

.circle {
  width: 70px;
  height: 20px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  background: 0 0;
  padding: 2px 8px;
  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-left: 5px;
  text-transform: uppercase;
  display: inline-block;
}

.bg-light {
  background-color: #f8f9fa !important;
}
#buttoncss-true {
  background-color: #00fa9a;
}
#heartcss-true {
  color: red;
}
.fa-heart:before {
  content: "\f004";
}

.btn-light:hover {
  color: #212529;
  background-color: white;
  border-color: #dae0e5;
}

#search {
  width: 470px;
  padding: 5px;
}
.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
.btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}
ul[_ngcontent-wdl-c5] {
  list-style: none;
}
ul[_ngcontent-wdl-c5] li[_ngcontent-wdl-c5]::before {
  content: "\2022";
  color: #df4b11;
  font-weight: 700;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

#timingcss-true {
  background-color: #2e8b57;
  color: #fff;
}
#test {
  margin-left: 130px;
}
#booking {
  margin-top: 140px;
  cursor: pointer;
}
#setting {
  margin-left: 140px;
  cursor: pointer;
  color: #fff;
}
#constPage {
  margin-left: auto;
  margin-right: auto;
}
/*color: rgb(73, 186, 142);*/
